body{

    background-image:url("../fotos/fita-metrica.jpg");

    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;

    
    overflow: hidden;
}

h1{
    border-bottom:solid gray;
}

footer{
    margin-top: 5px;
}

section{

    width:300px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.61);

    margin-top: 200px;
    margin:300px 700px 500px 700px;
    padding-bottom: 20px;


    border:groove 5px grey;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.267) 2px 2px 2px 2px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

section>div>input[type="number"],input[type="text"]{
    margin-bottom: 10px;
    background-color:transparent;
    border:hidden;
    border-bottom:solid 2px black;
    width: auto;
}

div[id="info"]
{
padding-top: 4px;
font-size: small;
text-align: center;
}

section>div>input[id="peso"]{
 
    width:186px;
}
section>div>input[id="nome"]{
 
    width:200px;
}

input[type="submit"]{
    align-self: center;

    background-color:transparent;
    border: solid 2px gray;
    border-radius: 10px 10px 10px 10px;
}

input[type="submit"]:hover{
    align-self: center;

    transition:1s;

    background-color:gray;
    border: solid 2px gray;
    border-radius: 10px 10px 10px 10px;
    color: white;
}

div.resultado{
    margin-top:10px;
    width: 80%;
    height: auto;
    text-align: center;
}

